.home-content {
  width: 60%;
}

.home-content h1 {
  font-size: 5.6rem;
  font-weight: 700;
  line-height: 1.3;
  color: aqua;
}

.home-content h3 {
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1.3;
  padding-bottom: 10px;
}

.home-content p {
  font-size: 1.2rem;
  line-height: 1.5;
}

.home-img {
  width: 50%;
  display: flex;
  justify-content: center;
}

.home-card {
  width: 70%;
  animation: floatImage 10s ease-in-out infinite;
}

.social-media a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  background: transparent;
  border: 0.2rem solid aqua;
  border-radius: 50%;
  font-size: 2rem;
  color: aqua;
  margin: 3rem 1.5rem 3rem 0;
  transition: 0.3s ease;
  text-decoration: none;
}

.social-media a:hover {
  background-color: rgba(255, 255, 255, 0.5);
  color: white;
  box-shadow: 0 0 2rem aqua;
}

.btn {
  display: inline-block;
  padding: 1rem 2.8rem;
  background: aqua;
  border-radius: 3rem;
  box-shadow: 0 0 1.5rem aqua;
  font-size: 1.6rem;
  color: #323946;
  letter-spacing: 0.1rem;
  font-weight: 600;
  transition: 0.5s ease;
  text-decoration: none;
}

.btn:hover {
  box-shadow: none;
}

@keyframes floatImage {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(2.4rem);
  }
  100% {
    transform: translateY(0);
  }
}

@media only screen and (max-width: 1350px) {
  .home-content {
    width: 45%;
  }

  .home-content h1 {
    font-size: 4.5rem;
  }

  .home-content h3 {
    font-size: 1.6rem;
  }

  .home-content p {
    font-size: 1rem;
    line-height: 1.2;
  }

  .home-img {
    width: 55%;
  }

  .home-card {
    width: 70%;
  }

  .social-media a {
    width: 3.5rem;
    height: 3.5rem;
  }

  .btn {
    padding: 0.75rem 2.3rem;
    font-size: 1.2rem;
  }
}

@media only screen and (max-width: 750px) {
  .home {
    display: flex;
    flex-direction: column-reverse;
  }
  .home-content {
    width: 100%;
  }

  .home-content h1 {
    font-size: 2.5rem;
  }

  .home-content h3 {
    font-size: 1.2rem;
    line-height: 1;
  }

  .home-content p {
    font-size: 1rem;
    line-height: 1.5;
  }

  .home-img {
    width: 100%;
  }

  .home-card {
    display: inline-block;
    width: 50%;
    height: auto;
  }

  .social-media a {
    width: 3rem;
    height: 3rem;
    border: 0.1rem solid aqua;
    font-size: 2rem;
  }

  .btn {
    padding: 0.5rem 1.4rem;
    font-size: 1rem;
    color: #323946;
    margin-bottom: 20px;
  }

  @keyframes floatImage {
    0% {
      transform: translateY(2.5rem);
    }
    50% {
      transform: translateY(4.9rem);
    }
    100% {
      transform: translateY(2.5rem);
    }
  }
}

@media only screen and (max-width: 500px) {
  @keyframes floatImage {
    0% {
      transform: translateY(3.5rem);
    }
    50% {
      transform: translateY(5.9rem);
    }
    100% {
      transform: translateY(3.5rem);
    }
  }
}

@media only screen and (max-width: 400px) {
  .home-card {
    margin-top: 4rem;
  }

  @keyframes floatImage {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(1.5rem);
    }
    100% {
      transform: translateY(0);
    }
  }
}
