* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container-tra {
  height: 100vh;
  width: 100%;
  display: grid;
  grid-template-columns: 1.5fr 1fr;
}

.training {
  display: grid;
  justify-content: center;
}

.training ul {
  display: flex;
  flex-direction: column;
  height: 95vh;
  justify-content: space-evenly;
  align-items: center;
  padding: 2.5em;
}

.training li {
  width: 80%;
  border-radius: 10px;
  border: 1px solid transparent;
  display: grid;
  grid-template-columns: 1fr 2.5fr;
}

.training li:hover {
  border: 1px solid rgba(124, 124, 124, 0.4);
  background-color: rgba(255, 255, 255, 0.2);
}

.training li header {
  margin: 0.6em;
  display: flex;
}

.training li main {
  margin: 0.6em;
  display: flex;
}

h5 {
  font-weight: 800;
  color: aqua;
}

.training-description {
  font-size: 0.8em;
  margin-bottom: 5px;
}

.course-description {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.languages-courses {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.training li main span {
  background-color: rgba(11, 63, 63, 0.8);
  color: aqua;
  font-weight: bold;
  font-size: 0.6em;
  padding: 10px;
  border-radius: 50px;
}

.skills-list {
  height: 80vh;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  align-items: center;
  padding: 0.2rem;
  text-align: center;
}

.skill {
  width: 80%;
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 1.2em;
  border-radius: 10px;
  border: 2px solid transparent;
}
.skill:hover {
  border: 1px solid aqua;
}

.skill-link {
  display: block;
  text-decoration: none;
  color: inherit;
}

.skills img {
  width: 70px;
  height: 70px;
  border-radius: 0;
}

.skills h2 {
  text-align: center;
  padding: 1.5rem 0;
}
